<div>
    <h2 id="page-heading">
        <span>Mitarbeiters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mitarbeiter" [routerLink]="['/mitarbeiter/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Mitarbeiter
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mitarbeiters?.length === 0">
        <span>No mitarbeiters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mitarbeiters && mitarbeiters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vorname"><span>Vorname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nachname"><span>Nachname</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="intern"><span>Intern</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email.id"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mitarbeiter of mitarbeiters ;trackBy: trackId">
                    <td><a [routerLink]="['/mitarbeiter', mitarbeiter.id, 'view']">{{ mitarbeiter.id }}</a></td>
                    <td>{{ mitarbeiter.email }}</td>
                    <td>{{ mitarbeiter.vorname }}</td>
                    <td>{{ mitarbeiter.nachname }}</td>
                    <td>{{ mitarbeiter.intern }}</td>
                    <td>
                        <div *ngIf="mitarbeiter.email">
                            <a [routerLink]="['/arbeitszeiten', mitarbeiter.email?.id, 'view']" >{{ mitarbeiter.email?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mitarbeiter', mitarbeiter.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mitarbeiter', mitarbeiter.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mitarbeiter)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="mitarbeiters && mitarbeiters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
